a {
	text-decoration:none;
	color:C71585;
}
#t {
     color:black;
     text-align:center;
     font-size:40px;
	 background-image:url(img15.jpg);
	 background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
	 margin-top:-55px;
     margin-left:-8px;
     margin-right:-8px;
     height:120px; 
   }
#i {
	
	margin-right:-20px;
	margin-left:-8px;
	width:1349px;
	height:400%;
	
	
	 
}
#t6 {
	color:#800080;
	font-size:45px;
}
#c6 {
	
	margin-top:-2500px;
	margin-left:200px;
	color:C71585;
	}
#c6-1 {
	margin-left:20px;
}



#t7 {
	color:#800080;
	font-size:45px;
}
#c7 {
	
	margin-top:-655px;
	margin-left:850px;
	color:C71585;
}
#c7-1 {
	margin-left:20px;
}

#t8 {
	color:#800080;
	font-size:45px;
}
#c8 {
	
	margin-top:190px;
	margin-left:200px;
	color:C71585;
	
}
#c8-1 {
	margin-left:20px;
}


#t9 {
	color:#800080;
	font-size:45px;
}
#c9 {
	
	margin-top:-670px;
	margin-left:850px;
	color:C71585;
	
}
#c9-1 {
	margin-left:20px;
}

#t10 {
	color:#800080;
	font-size:45px;
}
#c10 {
	
	margin-top:160px;
	margin-left:550px;
	color:C71585;
	
}
#c10-1 {
	margin-left:20px;
}